name: DEPLOY
on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: rsync deployments
      uses: burnett01/rsync-deployments@5.2
      with:
        switches: -avzr --exclude="node_modules" --exclude=".github"
        path: src/
        remote_path: ${{ secrets.DEPLOY_PATH}}
        remote_host: ${{ secrets.DEPLOY_HOST}}
        remote_user: ${{ secrets.DEPLOY_USER}}
        remote_key: ${{ secrets.DEPLOY_KEY }}